html, body, .container, .row{
	height: 100%;
	width: 100%;
	padding: 0;
}
html, body, .container, .row, .board{
	margin: 0 auto;
}
body {
  padding-top: 50px;
}
.container{
	position: relative;	
	width: 100%;
	height: 100%;
	background-color: rgb(34, 34, 34);
}
.row{
	display: table-row;
}
.board{
	position: absolute;
	display: table;
	height: 30em;
	width: 35em;
	left: 50%;
	bottom: 30%;
	margin: 0 0 0 -17.5em; 
}
.square, .invisible-square{
	display: table-cell;
	height: 5em;
	width: 5em;
}
.square{
	overflow: hidden;
	z-index: 5;
}
.circle{
	position:relative;
	margin: 10%;
	width: 80%;
	height: 80%;
	box-shadow: 0 0 0 100px rgb(157, 157, 157); 
	border-radius:50%;
	z-index: 4;
}
.token, .stack{
	position: absolute;
}
.red-stack, .red{
	left: -20%;
	background-color: red;
}
.blue-stack, .blue{
	right: -20%;
	background-color: blue;
}
.token{	
	border-radius:50%;
	height: 4.5em;
	width: 4.5em;
}
.stack{
	height: 3em;
	width: 4.5em;
}
.stack:after{
	position: absolute;
	left: 0;
	top: 50%;
	height: 1px;
	background-color: rgb(34, 34, 34);
	content: '';
	width: 100%;
	display: block;
}
.red, .blue{	
	bottom: 10%;
}
.red-stack, .blue-stack{
	bottom: 0%;
}
.back-ground-red{
	background-color: red;
}
.back-ground-blue{
	background-color: blue;
}
.tall-row{
	height: 10em;
}




